<div class="flex h-full justify-center items-center p-6 bg-gray-100">
  <div class="space-y-16 w-full max-w-2xl relative">
    <div class="flex items-center justify-between">
      <h2 class="text-2xl font-semibold leading-7 text-gray-900">Importar Edificios</h2>
      <div class="mt-4 mr-4">
        <select [(ngModel)]="selectedImporter" class="border border-gray-300 rounded px-4 py-2">
          <option *ngFor="let importer of importers" [value]="importer">{{importer}}</option>
        </select>
      </div>
    </div>
    
    <div 
      class="drad-and-drop border-dashed border-2 border-gray-400 p-6 rounded-lg text-center cursor-pointer hover:bg-gray-50"
      [ngClass]="{'drad-and-drop-on-file': isDragOver}"
      (drop)="onFileDropped($event)"
      (dragover)="onDragOver($event)"
      (dragenter)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
    >
      <p class="text-gray-600">Arrastra y suelta un archivo aquí, o</p>
      <input type="file" id="file" (change)="onFileSelected($event)" class="hidden" />
      <label for="file" class="text-customBlue cursor-pointer underline">selecciona un archivo</label>
    </div>
    
    <div class="mt-16">
      <h3 class="text-xl font-semibold leading-6 text-gray-900 text-center">Agregar Propietarios</h3>
      <div class="flex flex-col space-y-4 mt-4">
        <div class="flex space-x-4">
          <input [(ngModel)]="newOwner.name" type="text" placeholder="Nombre" class="border border-gray-300 rounded px-4 py-2 w-full" />
          <input [(ngModel)]="newOwner.lastName" type="text" placeholder="Apellido" class="border border-gray-300 rounded px-4 py-2 w-full" />
          <input [(ngModel)]="newOwner.email" type="email" placeholder="Correo electrónico" class="border border-gray-300 rounded px-4 py-2 w-full" />
        </div>
        <button (click)="addOwner()" class="bg-customBlue text-white px-4 py-2 rounded">Agregar Propietario</button>
      </div>
    </div>
  </div>
</div>