<div class="container">
  <div class="login">
    <div class="logo">
      <h1 class="title">Building Manager</h1>
      <img src="../../../assets/img/edificio.png" alt="Logo" />
      <p class="subTitle">Administrador de edificios</p>
    </div>
    <div class="form">
      <div class="title2">
        <h2 class="title">Building Manager</h2>
        <p class="subTitle">Administrador de edificios</p>
      </div>
      <h2 class="loginTitle">Inicia sesión</h2>
      <div class="formContainer">
        <form (ngSubmit)="onLogin()">
          <div class="form-group">
            <input
              type="email"
              [(ngModel)]="email"
              name="email"
              class="form-control"
              id="inputEmail"
              aria-describedby="emailHelp"
              placeholder="Correo"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              [(ngModel)]="password"
              name="password"
              class="form-control"
              id="inputPassword"
              placeholder="Contraseña"
              required
            />
          </div>
          <button type="submit" class="loginButton">Entrar</button>
        </form>
      </div>
      <p class="-mt-12">
        ¿Has sido invitado?
        <a class="text-blue-500 italic"
          routerLink="/accept-invitation"
        >
          <span>Aceptar invitación</span>
        </a>
      </p>
    </div>
  </div>
</div>
