@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  width: 100%;
  background-color: #F4F4F4;
}

#app-root {
  display: flex;
}